.Mission h1 {
  display: inline-block;
  text-shadow:
    -4px -4px 0 #96CC50,
    4px -4px 0 #96CC50,
    -4px 4px 0 #96CC50,
    4px 4px 0 #96CC50;
  color: #fff;
  margin-left: 400px;
  font-size: 50px;
  font-weight: inherit;
  margin-top: 200px;
  font-family: 'PartialSansKR-Regular';
}

 .Mi-none {
  border: 3px solid #dddddd;
  width: 700px;
  height: 70px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.Mi-naeyong {
  text-align: center;
  margin-left: 30px;
  font-weight: 500;
  font-Size: 20px;
  line-height: 45px;
  font-family: 'Noto Sans KR', sans-serif;
}

 .Mi-ok {
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 450px;
  font-Size: 20px;
  border-radius: 20px;
  border: none;
  color: black;
  background-color: rgb(255, 255, 255);
  width: 100px;
  height: 40px;
  line-height: 38px;
  /* 텍스트 가운데 정렬 */
  text-align: center;
  font-weight: bold;
}

 .Mi-ok-completed {
  font-family: 'Noto Sans KR', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 450px;;
  font-Size: 20px;
  border-radius: 20px;
  border: none;
  color: black;
  background-color: #3e8e41;
  width: 100px;
  height: 40px;
  line-height: 38px;
  /* 텍스트 가운데 정렬 */
  text-align: center;
  color: #fff;
}



.Mi-lastok {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  font-size: 30px;
  width: 200px;
  height: 60px;
  margin-inline: auto;
  border-radius: 30px;
  line-height: 50px;
  border: none;
  background-color: #f9ffa8;
  text-align: center;
  color: #363636;
  cursor: pointer;
}

.Mission .Content {
  margin-left: 100px;
  line-height: 1.7em;
}

.Mission .close {
  font-size: 30px;
  width: 200px;
  height: 60px;
  margin-inline: auto;
  border-radius: 30px;
  line-height: 2.3em;
  border: none;
  background-color: rgb(180, 177, 177);
  text-align: center;
}

/* 동그라미 형태의 번호 스타일링 */


.Mi-number {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50px; height: 50px;
  background-color: #202020;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  line-height: 62px;
  font-size: 30px;
  text-align: center; 
  margin-left: 20px;
  color: #fff;
}


.Missioncomplte {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* 검은색 배경과 투명도 설정 */
  z-index: 1000;
  /* 다른 요소들보다 위에 나타나도록 설정 */
  display: flex;
  justify-content: center;
  /* 수평 가운데 정렬 */
  align-items: center;
  /* 수직 가운데 정렬 */
}

.ModalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  /* 흰색 배경 설정 */
  padding: 20px;
  /* 내부 여백 설정 */
  border-radius: 10px;
  /* 모달 모서리를 둥글게 만듦 */
}

.ModalTitle {
  font-size: 40px;
  margin-bottom: 20px;
  color: black;
}

.CloseButton {
  font-size: 20px;
  width: 150px;
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  line-height: 2.5em;
  border: none;
  background-color: rgb(180, 177, 177);
  text-align: center;
}

.CloseButton:hover {
  background-color: #bbb;
}

.mission-completed-message {
  font-size: 24px;
  /* 텍스트 크기 조정 */
  text-align: center;
  /* 텍스트 가운데 정렬 */
  margin-top: 270px;
  /* 위쪽 여백 추가 */
  color: gray;
}